<script>
  import { tick } from 'svelte';
  import Searchbox from './Searchbox';
  import Sidebar from './Sidebar';
  import Resultlist from './Resultlist';
  import {search} from './ElasticService';

  let query;
  let result;

  async function switchPage(event) {
    result = await search(query, event.detail);
    await tick();
    window.scroll({
      top: 0,
      behavior: 'smooth'
    });
  }

  async function getResults(event) {
    query = event.detail;
    result = await search(query, 0);
  }
</script>

<Searchbox on:submit={getResults}/>

<section class="section section-results">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        {#if result}
          <Resultlist result={result} on:switchPage={switchPage}/>
        {/if}
      </div>
      <div class="column">
        <Sidebar/>
      </div>
    </div>
  </div>
</section>
