<script>
  import {createEventDispatcher} from 'svelte';
  const dispatch = createEventDispatcher();

  export let result;
  let current_page = 0;

  function gotoPage(page_nr) {
    current_page = page_nr;
    dispatch('switchPage', page_nr);
  }
</script>

<p class="hit-count">{result.result_count} result{result.result_count === 1 ? '' : 's'}</p>

{#each result.hits as hit}
  <div class="hit">
    <div class="hit-meta is-size-6">
      <a href="https://mailchi.mp/hackernewsletter/{hit.issue_id}">Issue #{hit.issue_id}</a> |
      {hit.date} |
      {hit.category}
      <!-- TODO: Add comments! -->
    </div>
    <a href={hit.url} target="_blank" class="hit-title is-size-4">{hit.title}</a>
    <p class="hit-text is-size-7">{@html hit.text}</p>
  </div>
{/each}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <!--  {#if current_page > 0}-->
  <!--    <a class="pagination-previous">Previous</a>-->
  <!--  {/if}-->
  <!--  {#if current_page < result.max_page}-->
  <!--    <a class="pagination-next">Next page</a>-->
  <!--  {/if}-->
  <!-- TODO: Replace with smart pagination... -->
  <ul class="pagination-list">
    {#each Array(result.max_page + 1) as undef, idx}
      <li>
        <button class="pagination-link" aria-label="Goto page {idx + 1}"
                class:is-current={current_page === idx} on:click={() => gotoPage(idx)}>
          {idx + 1}
        </button>
      </li>
    {/each}
  </ul>
</nav>
