<script>
  import {createEventDispatcher} from 'svelte';

  const dispatch = createEventDispatcher();

  let q;
</script>

<section class="section section-search">
  <div class="container">
    <h1 class="title is-4">hackernewsletter archive</h1>
    <form on:submit|preventDefault={() => dispatch('submit', q)}>
      <div class="field">
        <div class="control">
          <input class="input is-medium" bind:value={q} placeholder="Search here...">
        </div>
      </div>
    </form>
  </div>
</section>
