<hr class="is-hidden-tablet">
<p class="my-3">
  Full-text searchable index of all the amazing content from
  <a href="https://hackernewsletter.com/" target="_blank">Kale's weekly hackernewsletter</a>
  (I'm not affiliated, just a fan.)
</p>
<!-- TODO: Make all the numbers dynamic -->
<p class="my-3">Earliest issue:<br><b>#348</b> (April 21, 2017)</p>
<p class="my-3">Current issue:<br><b>#512</b> (July 17, 2020)</p>
<p class="my-3">
  Bored? Visit one of the currently 9.117 links at random:
  <a href="{BACKEND_URL}/random" target="_blank">Go to random page</a>
</p>
<p class="my-3">
  I would love your <a href="https://news.ycombinator.com/item?id=23705333" target="_blank">feedback and comments</a>.
</p>
<p class="my-3">
  Look at the glorious code on <a href="https://gitlab.com/hnl-archive" target="_blank">GitLab</a>
</p>
<p class="my-3">
  Powered by<br>
  <a href="https://svelte.dev/" target="_blank">Svelte️</a> |
  <a href="https://www.elastic.co/de/elasticsearch/" target="_blank">Elasticsearch</a> |
  <a href="https://bulma.io/" target="_blank">Bulma</a>
</p>
