.hit {
  margin-bottom: 1.5rem;

  &-count {
    margin-bottom: 1.5rem;
  }

  &-meta {
    margin-bottom: 0;
  }

  &-title {
    display: inline-block;
    margin-bottom: 0.2rem;
  }

  &-text {
    color: $grey-dark;

    em {
      font-style: normal;
      font-weight: bold;
    }
  }
}
